{{include(partials/header.html)}}


<nav class="navbar navbar-expand-lg mb-5 navbar-light"  style="border-bottom:solid 1px #FF3F40">
    <div class="container d-flex justify-content-betwee ">
        <span class="navbar-brand mb-0 h1">
            <img src="/assets/images/logo.png" style="width: 185px;" alt="logo">
        </span>
        <span class="navbar-text">
          Bem vindo: User
        </span>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 style="color:#FF3F6D">Sorteios disponíveis</h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                    <small>Atualizado há: 3 dias</small>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="mb-1">Concorra agora a esse carro zero kilometro avalaido em 300 mil reais não perca essa chance por que chances assim não aparecem sempre então participe e tambem afinal não custa nada</p>
                    <button class="btn btn-custom gradient-custom text-white">Participar</button>
                  </div>
                  <small>Sorteio ocorrera: 23/04/2023</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                      <small>Atualizado há: 3 dias</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-1">Concorra agora a esse carro zero kilometro avalaido em 300 mil reais não perca essa chance por que chances assim não aparecem sempre então participe e tambem afinal não custa nada</p>
                      <button class="btn btn-custom gradient-custom text-white">Participar</button>
                    </div>
                    <small>Sorteio ocorrera: 23/04/2023</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                      <small>Atualizado há: 3 dias</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-1">Concorra agora a esse carro zero kilometro avalaido em 300 mil reais não perca essa chance por que chances assim não aparecem sempre então participe e tambem afinal não custa nada</p>
                      <button class="btn btn-custom gradient-custom text-white">Participar</button>
                    </div>
                    <small>Sorteio ocorrera: 23/04/2023</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                      <small>Atualizado há: 3 dias</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-1">Concorra agora a esse carro zero kilometro avalaido em 300 mil reais não perca essa chance por que chances assim não aparecem sempre então participe e tambem afinal não custa nada</p>
                      <button class="btn btn-custom gradient-custom text-white">Participar</button>
                    </div>
                    <small>Sorteio ocorrera: 23/04/2023</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                      <small>Atualizado há: 3 dias</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-1">Concorra agora a esse carro zero kilometro avalaido em 300 mil reais não perca essa chance por que chances assim não aparecem sempre então participe e tambem afinal não custa nada</p>
                      <button class="btn btn-custom gradient-custom text-white">Participar</button>
                    </div>
                    <small>Sorteio ocorrera: 23/04/2023</small>
                  </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header gradient-custom">
                    <h5 class="text-white">Seus sorteios</h5>
                </div>
                <div class="card-body" style="box-sizing: border-box;">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 text-color-default">Sorteio: Fiat Argo 0km</h5>
                            <small>Atualizado há: 3 dias</small>
                          </div>
                          <div class="d-flex justify-content-between">
                            <!-- <p class="mb-1"></p> -->
                            <small>Ganhador: Usuario user</small>
                            <button class="btn btn-custom bg-secundary-custom text-white">Finalizado</button>
                          </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1 text-color-default">Sorteio: Jogo de panela</h5>
                              <small>Atualizado há: 3 dias</small>
                            </div>
                            <div class="d-flex justify-content-between">
                              <!-- <p class="mb-1"></p> -->
                              <small>Ganhador: User Usuario </small>
                              <button class="btn btn-custom bg-secundary-custom text-white">Finalizado</button>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1 text-color-default">Sorteio: PIX de 50 reais</h5>
                              <small>Atualizado há: 4 dias</small>
                            </div>
                            <div class="d-flex justify-content-between">
                              <!-- <p class="mb-1"></p> -->
                              <small>Sorteio ocorrera: 23/03/2022</small>
                              <!-- <button class="btn btn-custom bg-secundary-custom text-white">Finalizado</button> -->
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1 text-color-default">Sorteio: PIX de 50 reais</h5>
                              <small>Atualizado há: 4 dias</small>
                            </div>
                            <div class="d-flex justify-content-between">
                              <!-- <p class="mb-1"></p> -->
                              <small>Sorteio ocorrera: 23/03/2022</small>
                              <!-- <button class="btn btn-custom bg-secundary-custom text-white">Finalizado</button> -->
                            </div>
                        </a>
                    </div>
                </div>
              </div>
            
        </div>
    </div>
    
    
</div>

{{include(partials/footer.html)}}
